* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 8px;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding: 0 16px;
}

.top {
  background: linear-gradient(0deg, #DAEAF7 8.84%, rgba(152, 195, 232, 0) 31.12%);
  min-height: 376px;
}
.top__content {
  text-align: center;
}
.top__h1 {
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 0.04em;
  color: #1F3F68;
  margin-bottom: 2rem;
}
.top__button {
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 32px;
  display: inline-block;
}

.text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.header {
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
}

.nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  right: 100%;
  background-color: lightcoral;
  transition: all 0.4s;
}

.menu {
  height: 100vh;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__link {
  font-size: 24px;
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 32px;
}

#switcher {
  visibility: hidden;
  position: absolute;
  left: -999999px;
}
#switcher:checked ~ nav {
  right: 0;
  z-index: 1;
}

.open {
  font-size: 20px;
}

.close {
  position: absolute;
  top: 16px;
  right: 32px;
}

.heading {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.heading-mini {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  margin-bottom: 14px;
}

.what {
  margin-top: 48px;
}

.card {
  width: 335px;
  padding: 40px 29px 21px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin-bottom: 32px;
}
.card-box {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__img {
  align-self: center;
  margin-bottom: 32px;
}
.card .text {
  text-align: left;
}
.card__link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  margin-top: 14px;
}

.project {
  margin: 64px 16px 82px;
  text-align: center;
}

.project-mini {
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  margin-bottom: 32px;
}

.project-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #222222;
}

.smart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.smart-home {
  position: relative;
}

.mask_group {
  width: 100%;
  min-height: 144px;
}

.smart_text {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: right;
}

.smart-app {
  position: relative;
  margin-top: 17px;
}

.app_img {
  width: 343px;
  min-height: 255px;
}

.app_text {
  position: absolute;
  top: 26px;
  left: 26px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: left;
}

.app {
  margin-bottom: 64px;
}

.foot {
  background-color: #316099;
}

.intersted {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intersted__h {
  margin: 18px 96px 32px;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.intersted__text {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  margin: 0 16px 40px;
  text-align: center;
  color: #FFFFFF;
  opacity: 60%;
}

.intersted_button {
  display: flex;
  justify-content: center;
}

.intersted__link {
  font-size: 16px;
  background-color: #5A98D0;
  color: #FFFFFF;
  border: 1px solid #5A98D0;
  width: 108px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  margin-top: 41px;
  border-bottom: 1px solid #FFFFFF;
}

.contact {
  padding: 23px 16px 37px;
}

.contact__line {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 16px;
}

.contact__line__num {
  margin-right: 23px;
}

.contact__line__num,
.contact__line__text {
  font-size: 16px;
  line-height: 19px;
  text-align: Left;
  color: #FFFFFF;
}

.copywrite {
  padding-left: 16px;
  padding-bottom: 32px;
  padding-right: 16px;
}

.copywrite_text {
  line-height: 26px;
  font-size: 16px;
  text-align: Center;
  opacity: 40%;
}

@media (min-width: 576px) {
  .center {
    padding: 0 calc(50% - 270px);
  }
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .center {
    padding: 0 calc(50% - 360px);
  }

  .top {
    height: 768px;
    display: flex;
    flex-direction: column;
  }
  .top__content {
    text-align: left;
    margin-top: 112px;
    flex-grow: 1;
    background-image: url(img/illustration.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
  }
  .top__h1 {
    width: 510px;
  }
  .top .text {
    width: 425px;
    text-align: left;
  }
  .top__button {
    margin-top: 72px;
    padding: 15px 50px;
    font-size: 16px;
  }

  .what {
    margin-top: 64px;
  }

  .project {
    margin-top: 127px;
    margin-left: 127px;
    margin-right: 127px;
  }

  .project-mini {
    font-size: 36px;
    line-height: 46px;
  }

  .smart_text {
    font-size: 32px;
    line-height: 46px;
    top: 64px;
    right: 64px;
  }

  .app {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .smart-app {
    margin-top: 32px;
  }

  .app_text {
    top: 20px;
    right: 20px;
    font-size: 28px;
    line-height: 46px;
    color: #FFFFFF;
    text-align: left;
  }

  .app {
    margin-bottom: 110px;
  }

  .intersted__head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 124px;
    padding-left: 124px;
  }

  .intersted {
    padding-right: 51px;
  }

  .intersted__h {
    margin: 47px 0 32px;
    font-size: 36px;
    line-height: 46px;
    text-align: left;
  }

  .intersted__text {
    text-align: left;
    margin: 0;
  }

  .contact {
    padding: 64px 124px;
  }

  .contact__line {
    padding-bottom: 36px;
  }

  .contact__line__num {
    margin-right: 36px;
  }

  .copywrite_text {
    text-align: left;
    margin-left: 124px;
    margin-bottom: 64px;
  }
}
@media (min-width: 992px) {
  .center {
    padding: 0 calc(50% - 480px);
  }
}
@media (min-width: 1140px) {
  .center {
    padding: 0 calc(50% - 570px);
  }

  .card {
    width: 359px;
  }
  .card-box {
    flex-direction: row;
    justify-content: space-between;
  }

  .app_img {
    width: 554px;
    min-height: 417px;
  }

  .intersted__head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 211px;
    padding-left: 229px;
  }

  .intersted {
    padding-right: 194px;
    align-items: flex-start;
    text-align: left;
  }

  .intersted__h {
    margin: 97px 0 32px;
    text-align: left;
  }

  .intersted__text {
    text-align: left;
    margin: 0;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    padding: 64px 125px;
  }

  .contact__line {
    width: 316px;
  }

  .copywrite_text {
    text-align: left;
    margin-left: 113px;
    margin-bottom: 64px;
  }
}

/*# sourceMappingURL=style.css.map */
